
<div id="title-backdrop"></div>

<h1 class="title">Berkeley Student Learning Center</h1>

<h1 class="subtitle">Search Histories</h1>

<div class="form-container container-fluid">

    <%= form_tag(history_entries_path, method: "get") do %>
        <div class="col-2">
              <%= label_tag(:history_dates, "Search for (MM-DD-YYYY):") %>
              <%= date_field_tag(:history_dates) %>
        </div>
        <br/>

        <div class="col-2">
            <%= submit_tag"Submit", :id => "form-submit", :class =>"btn btn-primary" %>
        </div>
    <% end %>

</div>
<% if @date == "" %>
    <br/>
    <br/>
    <h2>Please search for a date with the following format: MM-DD-YYYY</h2>
<% elsif @found == false %>
    <br/>
    <br/>
    <h2>No history entries were found for <%= @date.strftime("%A, %B %d, %Y") %>.</h2>
<% elsif @found == true %>
<div class="form-container container-fluid">
    <h1>Drop-in</h1>
    <table id="queue" class="queue">
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Course</th>
        <th>Waiting Time</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Status</th>
        <th>Tutor Notes</th>
        <th>Course</th>
      </tr>
    
    <tr>
    <% @drop_in_queue.each do |entry| %>
          <tr id="q_row">
            <td></td>
            <td><%= time_diff(entry.created_at, Time.now) %></td>
            <td><%= %Q(if entry.student ? #{entry.student.first_name} #{entry.student.last_name}: "None" ) %></td>
            <td><div style="float: left; width: auto;"><%= entry.course %></div> <%= button_to("Activate", activate_session_path(entry.id), :method => :patch, :id => "#{entry.id}") %></td>
            <% end %>
          </tr>
    </tr>
    </table>
    
    <h1>Weekly</h1>
    <table id="queue" class="queue">
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Tutor Name</th>
      <th>Course</th>
      <th>Waiting Time</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Status</th>
      <th>Tutor Notes</th>
    </tr>
    
    <tr>
    <% @weekly_queue.each do |entry| %>
          <tr id="q_row">
            <td>Number</td>
            <td><%= %Q(#{entry.student.first_name} #{entry.student.last_name}) %></td>
            <td><%= %Q(if entry.tutor!=nil ? #{entry.tutor.first_name} #{entry.tutor.last_name}: "None" ) %></td>
            <td><div style="float: left; width: auto;"><%= entry.course %></div></td>
            <td><%= weekly_queue.wait_time %></td>
            <td><%= weekly_queue.start_time %></td>
            <td><%= weekly_queue.end_time %></td>
            <td><%= weekly_queue.status %></td>
            <td><%= weekly_queue.tutor_notes %></td>
            <% end %>
          </tr>
    </tr>
    </table>
    
    <h1>Scheduled</h1>
    <table id="queue" class="queue">
    <tr>
      <th>Number</th>
      <th></th>
      <th>Name</th>
      <th>Course</th>
    </tr>
    <tr>
    <% @scheduled_queue.each do |entry| %>
          <tr id="q_row">
            <td></td>
            <td><%= time_diff(entry.created_at, Time.now) %></td>
            <td><%= %Q(#{entry.student.first_name} #{entry.student.last_name}) %></td>
            <td><div style="float: left; width: auto;"><%= entry.course %></div> <%= button_to("Activate", activate_session_path(entry.id), :method => :patch, :id => "#{entry.id}") %></td>
            <% end %>
          </tr>
    </tr>
    </table>
</div>
<% end %>
