<div id="button-title-fade animated fadeIn">
    <nav class="navbar navbar-light bg-faded" >
      <div class="button-bar">
        <div id="btn-logout">
            <%= button_to "Tutor Log Out", destroy_tutor_session_path, method: "delete", id:"btn-outline-danger", class: "btn btn-outline-danger"%>
        </div>
        <div id="btn">
        <% if @active_tutor == true %>
            <%= button_to "Check Out", tutor_check_out_path, method: "patch", id:"btn-outline-primary", class: "btn btn-outline-primary"%>
        <% else %>
            <%= button_to "Check In", tutor_check_in_path, method: "patch", id:"btn-outline-success", class: "btn btn-outline-success"%>
        <% end %>
        </div>
      </div>
    </nav>
</div> 

<div id="table-page-container" class="container-fluid">
  <h1 class="animated fadeIn">Active Sessions</h1>
  <table id="active_sessions" class="table queue animated fadeInUp">
    <thead class="thead-light">
      <tr>
        <th scope="col">Start Time</th>
        <th scope="col">Student Name</th>
        <th scope="col">Tutor Name</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @active_sessions.each do |entry| %>
      <tr id="q_row" class="animated fadeInUp" style="-webkit-animation-delay: <%=i * 0.10%>s">
        <td><%= entry.start_time.strftime("%l:%M%P") %></td>
        <td><%= %Q(#{entry.student.first_name} #{entry.student.last_name}) %></td>
        <td><div style="float: left; width: auto;"><%= %Q(#{entry.tutor.first_name} #{entry.tutor.last_name}) %></div> <%= button_to("Finish", tutor_finish_session_path(entry.id), :method => :patch, :id => "#{entry.id}") %></td>
      </tr>
      <% i += 1 %>
      <% end %>
    </tbody>
  </table>

  <h1 class="animated fadeIn">Drop-in</h1>
  <table id="drop-in" class="table queue animated fadeInUp">
    <thead class="thead-light">
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Waiting</th>
        <th scope="col">Name</th>
        <th scope="col">Course</th>
      </tr>
    </thead>
    <tbody>
      <% i = 0 %>
      <% @drop_in_queue.each do |entry| %>
      <tr id="q_row" class="animated fadeInUp" style="-webkit-animation-delay: <%=i * 0.10%>s">
        <th scope="row"></th>
        <td><%= time_diff(entry.created_at, Time.now) %></td>
        <td><%= %Q(#{entry.student.first_name} #{entry.student.last_name}) %></td>
        <td><div style="float: left; width: auto;"><%= entry.course %></div> <%= button_to("Activate", tutor_activate_session_path(entry.id), :method => :patch, :id => "#{entry.id}", class: "btn btn-outline-success btn-activate") %></td>
      </tr>
      <% i += 1 %>
      <% end %>
    </tbody>
  </table>

  <h1 class="animated fadeIn">Weekly</h1>
  <table id="weekly" class="table queue animated fadeInUp">
    <thead class="thead-light">
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Waiting</th>
        <th scope="col">Name</th>
        <th scope="col">Course</th>
      </tr>
    </thead>
    <tbody>
      
      <% i = 0 %>
      <% @weekly_queue.each do |entry| %>
      <tr id="q_row" class="animated fadeInUp" style="-webkit-animation-delay: <%=i * 0.10%>s">
        <th scope="row"></th>
        <td><%= time_diff(entry.created_at, Time.now) %></td>
        <td><%= %Q(#{entry.student.first_name} #{entry.student.last_name}) %></td>
        <td><div style="float: left; width: auto;"><%= entry.course %></div> <%= button_to("Activate", tutor_activate_session_path(entry.id), :method => :patch, :id => "#{entry.id}", class: "btn btn-outline-success btn-activate") %></td>
      </tr>
      <% i += 1 %>
      <% end %>
    </tbody>
  </table>

  <h1 class="animated fadeIn">Scheduled</h1>
  <table id="scheduled" class="table queue animated fadeInUp">
    <thead class="thead-light">
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Waiting</th>
        <th scope="col">Name</th>
        <th scope="col">Course</th>
      </tr>
    </thead>
    <tbody>
      
      <% i = 0 %>
      <% @scheduled_queue.each do |entry| %>
      <tr id="q_row" class="animated fadeInUp" style="-webkit-animation-delay: <%=i * 0.10%>s">
        <th scope="row"></th>
        <td><%= time_diff(entry.created_at, Time.now) %></td>
        <td><%= %Q(#{entry.student.first_name} #{entry.student.last_name}) %></td>
        <td><div style="float: left; width: auto;"><%= entry.course %></div> <%= button_to("Activate", tutor_activate_session_path(entry.id), :method => :patch, :id => "#{entry.id}", class: "btn btn-outline-success btn-activate") %></td>
      </tr>
      <% i += 1 %>
      <% end %>
      
    </tbody>
  </table>
</div>