<li><%= link_to "Log Out", destroy_tutor_session_path, method: "delete" %></li>
<h1>Active Sessions</h1>
<table id="active_sessions" class="queue">
  <tr>
    <th>Start Time</th>
    <th>Student Name</th>
    <th>Tutor Name</th>
  </tr>
  <tr>
  <% @active_sessions.each do |entry| %>
    <tr id="q_row">
      <td><%= "N/A" %></td>
      <td><%= %Q(#{entry.student.first_name} #{entry.student.last_name}) %></td>
      <td><div style="float: left; width: auto;"><%= %Q(#{entry.tutor.first_name} #{entry.tutor.last_name}) %></div> <%= button_to("Finish", tutor_finish_session_path(entry.id), :method => :patch, :id => "#{entry.id}") %></td>
      <% end %>
  </tr>
</tr>
</table>
<tr></tr>
<h1>Drop-in</h1>
<table id="drop-in" class="queue">
<tr>
  <th>Number</th>
  <th>Waiting</th>
  <th>Name</th>
  <th>Course</th>
</tr>

<tr>
<% @drop_in_queue.each do |entry| %>
      <tr id="q_row">
        <td></td>
        <td><%= time_diff(entry.created_at, Time.now) %></td>
        <td><%= %Q(#{entry.student.first_name} #{entry.student.last_name}) %></td>
        <td><div style="float: left; width: auto;"><%= entry.course %></div> <%= button_to("Activate", tutor_activate_session_path(entry.id), :method => :patch, :id => "#{entry.id}") %></td>
        <% end %>
      </tr>
</tr>
</table>

<h1>Weekly</h1>
<table id="weekly" class="queue">
<tr>
  <th>Number</th>
  <th>Waiting</th>
  <th>Name</th>
  <th>Course</th>
</tr>

<tr>
<% @weekly_queue.each do |entry| %>
      <tr id="q_row">
        <td></td>
        <td><%= time_diff(entry.created_at, Time.now) %></td>
        <td><%= %Q(#{entry.student.first_name} #{entry.student.last_name}) %></td>
        <td><div style="float: left; width: auto;"><%= entry.course %></div> <%= button_to("Activate", tutor_activate_session_path(entry.id), :method => :patch, :id => "#{entry.id}") %></td>
        <% end %>
      </tr>
</tr>
</table>

<h1>Scheduled</h1>
<table id="scheduled" class="queue">
<tr>
  <th>Number</th>
  <th>Waiting</th>
  <th>Name</th>
  <th>Course</th>
</tr>
<tr>
<% @scheduled_queue.each do |entry| %>
      <tr id="q_row">
        <td></td>
        <td><%= time_diff(entry.created_at, Time.now) %></td>
        <td><%= %Q(#{entry.student.first_name} #{entry.student.last_name}) %></td>
        <td><div style="float: left; width: auto;"><%= entry.course %></div> <%= button_to("Activate", tutor_activate_session_path(entry.id), :method => :patch, :id => "#{entry.id}") %></td>
        <% end %>
      </tr>
</tr>
</table>