<!DOCTYPE html>
<html>
<head>
  <title>SlcWaitTimeAndList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
  <script src="https://use.fontawesome.com/02e2fcd7e1.js"></script>
</head>
<body>
    <div id="main">
      <% if flash[:notice] %>
          <div class="message label label-info" id="notice">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:warning] %>
          <div class="message label label-danger" id="warning">
          <%= flash[:warning] %>
        </div>
      <% end %>
      <% if current_tutor %>
        <% if current_tutor.try(:admin?) %>
              <%= link_to 'admin log out', destroy_tutor_session_path, method: "delete", id:"btn-outline-danger", class: "btn btn-outline-danger" %>
              <%= link_to 'App Log Out', app_logout_path, method: "post", id:"btn-outline-danger", class: "btn btn-outline-danger"%>
              <%= link_to 'histories', history_entries_path, id:"btn-outline-success", class: "btn btn-outline-success" %>
          <%= link_to 'active sessions', tutors_path, id:"btn-outline-success", class: "btn btn-outline-success" %>
          <%= link_to 'tutor_registration', new_tutor_registration_path, id: 'sign-up', id:"btn-outline-success", class: "btn btn-outline-success" %>

        <% end %>
      <% end %>

      <%= yield %>
    </div>
</body>
</html>
